---
on:
  workflow_call:
    inputs:
      clean-actions-runner:
        type: boolean
        required: false
        default: true
      configuration-file:
        type: string
        required: false
        default: test/container-structure-test.yml
      container-file:
        type: string
        required: false
        default: Dockerfile

permissions: {}

jobs:
  container-test:
    name: Container Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Clean Actions Runner
        if: inputs.clean-actions-runner == true
        id: clean_actions_runner
        uses: ministryofjustice/action-clean-runner@390530713a326ddc099b2114f38dd0f2f8eac6da # v1.1.0
        with:
          confirm: true

      - name: Set Up Container Structure Test
        id: setup_container_structure_test
        uses: ministryofjustice/action-setup-container-structure-test@d0636fa19d04c3fc71c30ae4eb8da03be63dbd4b # v1.0.0

      - name: Build
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ${{ inputs.container-file }}
          push: false
          tags: ${{ github.sha }}

      - name: Test
        id: test
        shell: bash
        env:
          CONFIGURATION_FILE: ${{ inputs.configuration-file }}
        run: |
          container-structure-test test --platform linux/amd64 --config "${CONFIGURATION_FILE}" --image "${{ github.sha }}"
