---
on:
  workflow_call:
    inputs:
      chart-name:
        type: string
        required: true
      chart-path:
        type: string
        required: false
        default: chart
    secrets:
      release-failure-webhook-url:
        required: false

permissions: {}

jobs:
  chart-release:
    name: Chart Release
    runs-on: ubuntu-latest
    permissions:
      actions: read
      attestations: write
      contents: write
      id-token: write
      packages: write
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set Up Cosign
        id: setup_cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Set Up Crane
        id: setup_crane
        uses: ministryofjustice/action-setup-crane@b8d5be6affce54f6ff5f54e90174508bf4522672 # v1.0.0

      - name: Set Up Helm
        id: setup_helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Log in to GitHub Container Registry
        id: login_ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Package Chart
        id: package_chart
        shell: bash
        env:
          CHART_PATH: ${{ inputs.chart-path }}
        run: |
          helm package "${CHART_PATH}" --destination .helm-deploy

      - name: Push Chart
        id: push_chart
        shell: bash
        env:
          CHART_NAME: ${{ inputs.chart-name }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          helm push ".helm-deploy/${CHART_NAME}-${REF_NAME}.tgz" oci://ghcr.io/ministryofjustice/analytical-platform-charts

      - name: Get Release Digest
        id: get_release_digest
        shell: bash
        env:
          CHART_NAME: ${{ inputs.chart-name }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          releaseDigest=$(crane digest "ghcr.io/ministryofjustice/analytical-platform-charts/${CHART_NAME}:${REF_NAME}")
          export releaseDigest

          echo "release-digest=${releaseDigest}" >>"${GITHUB_ENV}"

      - name: Cosign
        id: cosign
        shell: bash
        env:
          CHART_NAME: ${{ inputs.chart-name }}
          DIGEST: ${{ env.release-digest }}
        run: |
          cosign sign --yes "ghcr.io/ministryofjustice/analytical-platform-charts/${CHART_NAME}@${DIGEST}"

      - name: GitHub Attestation
        id: github_attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: ghcr.io/ministryofjustice/analytical-platform-charts/${{ inputs.chart-name }}
          subject-digest: ${{ env.release-digest }}
          push-to-registry: true

      - name: Cosign Verification
        id: cosign_verification
        shell: bash
        env:
          CHART_NAME: ${{ inputs.chart-name }}
          DIGEST: ${{ env.release-digest }}
        run: |
          cosign verify \
            --certificate-oidc-issuer=https://token.actions.githubusercontent.com \
            --certificate-identity-regexp="https://github\.com/ministryofjustice/analytical-platform-github-actions/\.github/workflows/reusable-chart-release\.yml.+" \
            "ghcr.io/ministryofjustice/analytical-platform-charts/${CHART_NAME}@${DIGEST}"

      - name: GitHub Attestation Verification
        id: github_attestation_verification
        shell: bash
        env:
          CHART_NAME: ${{ inputs.chart-name }}
          GH_TOKEN: ${{ github.token }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          gh attestation verify \
            "oci://ghcr.io/ministryofjustice/analytical-platform-charts/${CHART_NAME}:${REF_NAME}" \
            --repo ${{ github.repository }} \
            --signer-workflow ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-chart-release.yml

      - name: Slack Release Alert
        if: failure()
        id: slack_release_alert
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.release-failure-webhook-url }}
          payload: |
            {
              "repository": "${{ github.repository }}",
              "run_id": "${{ github.run_id }}"
            }
