---
on:
  workflow_call:
    inputs:
      chart-path:
        type: string
        required: false
        default: chart

permissions: {}

jobs:
  chart-lint:
    name: Chart Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set Up Helm
        id: setup_helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Set Up Helm Chart Testing
        id: setup_chart_testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Lint Chart
        id: lint_chart
        shell: bash
        env:
          CHART_PATH: ${{ inputs.chart-path }}
        run: |
          ct lint --charts "${CHART_PATH}"
