---
on:
  workflow_call:
    inputs:
      clean-actions-runner:
        type: boolean
        required: false
        default: true
      container-file:
        type: string
        required: false
        default: Dockerfile
    secrets:
      release-failure-webhook-url:
        required: false

permissions: {}

jobs:
  container-release:
    name: Container Release
    runs-on: ubuntu-latest
    permissions:
      actions: read
      attestations: write
      contents: write
      id-token: write
      packages: write
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Clean Actions Runner
        if: inputs.clean-actions-runner == true
        id: clean_actions_runner
        uses: ministryofjustice/action-clean-runner@390530713a326ddc099b2114f38dd0f2f8eac6da # v1.1.0
        with:
          confirm: true

      - name: Set Up Cosign
        id: setup_cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Log in to GitHub Container Registry
        id: login_ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        id: build_and_push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ${{ inputs.container-file }}
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ github.ref_name }}

      - name: Cosign
        id: cosign
        shell: bash
        env:
          DIGEST: ${{ steps.build_and_push.outputs.digest }}
        run: |
          cosign sign --yes "ghcr.io/${{ github.repository }}@${DIGEST}"

      - name: Generate SBOM
        id: generate_sbom
        uses: anchore/sbom-action@a930d0ac434e3182448fe678398ba5713717112a # v0.21.0
        with:
          image: ghcr.io/${{ github.repository }}:${{ github.ref_name }}
          format: cyclonedx-json
          output-file: "sbom.cyclonedx.json"

      - name: Github Attestation
        id: github_attestation
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.build_and_push.outputs.digest }}
          push-to-registry: true

      - name: GitHub Attestation SBOM
        id: attest_sbom
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.build_and_push.outputs.digest }}
          sbom-path: sbom.cyclonedx.json
          push-to-registry: true

      - name: Cosign Verification
        id: cosign_verification
        shell: bash
        env:
          DIGEST: ${{ steps.build_and_push.outputs.digest }}
        run: |
          cosign verify \
            --certificate-oidc-issuer=https://token.actions.githubusercontent.com \
            --certificate-identity-regexp="https://github\.com/ministryofjustice/analytical-platform-github-actions/\.github/workflows/reusable-container-release\.yml.+" \
            "ghcr.io/${{ github.repository }}@${DIGEST}"

      - name: GitHub Attestation Verification
        id: github_attestation_verification
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          gh attestation verify \
            "oci://ghcr.io/${{ github.repository }}:${REF_NAME}" \
            --repo ${{ github.repository }} \
            --signer-workflow ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-container-release.yml

      - name: Slack Release Alert
        if: failure()
        id: slack_release_alert
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.release-failure-webhook-url }}
          payload: |
            {
              "repository": "${{ github.repository }}",
              "run_id": "${{ github.run_id }}"
            }
