---
on:
  workflow_call:
    inputs:
      clean-actions-runner:
        type: boolean
        required: false
        default: true
      container-file:
        type: string
        required: false
        default: Dockerfile

permissions: {}

jobs:
  container-release:
    name: Container Release
    runs-on: ubuntu-latest
    permissions:
      actions: read
      attestations: write
      contents: write
      id-token: write
      packages: write
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Clean Actions Runner
        if: inputs.clean-actions-runner == true
        id: clean_actions_runner
        uses: ministryofjustice/action-clean-runner@390530713a326ddc099b2114f38dd0f2f8eac6da # v1.1.0
        with:
          confirm: true

      - name: Set Up Cosign
        id: setup_cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Log in to GitHub Container Registry
        id: login_ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        id: build_and_push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ${{ inputs.container-file }}
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ github.ref_name }}

      - name: Cosign
        id: cosign
        shell: bash
        env:
          DIGEST: ${{ steps.build_and_push.outputs.digest }}
        run: |
          cosign sign --yes "ghcr.io/${{ github.repository }}@${DIGEST}"

      - name: Generate SBOM
        id: generate_sbom
        uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # v0.20.10
        with:
          image: ghcr.io/${{ github.repository }}:${{ github.ref_name }}
          format: cyclonedx-json
          output-file: "sbom.cyclonedx.json"

      - name: Github Attestation
        id: github_attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.build_and_push.outputs.digest }}
          push-to-registry: true

      - name: GitHub Attestation SBOM
        id: attest_sbom
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.build_and_push.outputs.digest }}
          sbom-path: sbom.cyclonedx.json
          push-to-registry: true

      - name: Cosign Verification
        id: cosign_verification
        shell: bash
        env:
          DIGEST: ${{ steps.build_and_push.outputs.digest }}
        run: |
          cosign verify \
            --certificate-oidc-issuer=https://token.actions.githubusercontent.com \
            --certificate-identity-regexp="https://github\.com/ministryofjustice/analytical-platform-github-actions/\.github/workflows/reusable-container-release\.yml.+" \
            "ghcr.io/${{ github.repository }}@${DIGEST}"

      - name: GitHub Attestation Verification
        id: github_attestation_verification
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          gh attestation verify \
            "oci://ghcr.io/${{ github.repository }}:${REF_NAME}" \
            --repo ${{ github.repository }} \
            --signer-workflow ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-container-release.yml

  check-release-status:
  name: Check Release Status
  runs-on: ubuntu-latest
  needs: container-release
  if: always()
  steps:
    - name: Send Slack notification on failure (analytical-platform only)
      # Only run if container-release failed AND owner is analytical-platform
      if: >
        needs.container-release.result == 'failure' &&
        github.repository_owner == 'analytical-platform'
      uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
      with:
        webhook-type: incoming-webhook
        webhook: ${{ secrets.ANALYTICAL_PLATFORM_CONTAINER_TEST_SLACK_WEBHOOK_URL}}
        payload: |
          {
            "repository": "${{ github.repository }}",
            "run_id": "${{ github.run_id }}",
            "branch_tag": "${{ github.ref_name }}",
            "failed_run": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
            "dockerfile": "${{ inputs.container-file }}"
          }
