---
on:
  workflow_call:

permissions: {}

jobs:
  commit-signature-checker:
    name: Commit Signature Checker
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Check for unverified commits
        id: check_unverified_commits
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const prNumber = context.payload.pull_request.number;
            const { data: commits } = await github.rest.pulls.listCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: prNumber,
            });

            const unverified = commits.filter(commit => !commit.commit.verification.verified);

            if (unverified.length > 0) {
              const message = `⚠️ This pull request contains ${unverified.length} commit(s) without verified signatures. Please sign your commits. More information on this is available [here](https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits).`;
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: prNumber,
                body: message,
              });

              // Fail the workflow
              throw new Error(`Found ${unverified.length} unverified commit(s).`);
            }
